mat-checkbox {
  color: #fff;
  &.mat-checkbox-focused{
      .mat-ink-ripple{
          background-color: rgba($oxi-color-hover, .26);
      }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: transparent;
}
.mat-checkbox .mat-checkbox-frame {
  border-color: $oxi-color-hover;
  border-width: 1px;
}
