.navbar{
  @include navbar-color($oxi-color-navbar);
  .navbar-brand{
    color: $white-color;
  }
  .navbar-nav > li i{
    color: #FFFFFF;
  }

  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color:$oxi-color-navbar !important;    
  }
}
