
$oxi-color-navbar: #1f1b3c;
$oxi-color-navbar-bc: #1f1b3c;
$oxi-color-background: #160e27;
$oxi-color-footer: #1b152b;
$oxi-color-hover: #85e5fb;

$oxi-color-navbar-states-color:       darken($oxi-color-navbar-bc, 5%) !default;
